<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.Provider.ProviderMapper">

    <!-- 查询用户计录数-->
    <select id="getProviderCount" resultType="int">
        select count(1) as count from smbms.smbms_provider
        <where>
            <if test="proCode!=null and proCode!=''">
                and proCode like CONCAT('%',#{proCode},'%')
            </if>
            <if test="proName!=null and proName!=''">
                and proName like CONCAT('%',#{proName},'%')
            </if>
        </where>
    </select>




    <!--   通过条件查询分页providerListByPage -->
    <select id="getProviderListByPage" resultType="Provider">
        select * from smbms.smbms_provider
        <trim prefix="where" prefixOverrides="and | or">
            <if test="proName!=null and proName!=''">
                and proName like CONCAT('%',#{proName},'%')
            </if>
            <if test="proCode!=null and proCode!=''">
                and proCode like CONCAT('%',#{proCode},'%')
            </if>
        </trim>
        order by creationDate DESC limit #{ currentPageNo }, #{ pageSize }
    </select>











    <!--    获取供应商列表-->
    <select id="getProList" resultType="provider">
        select * from smbms_provider
    </select>





    <select id="getProviderById" resultType="provider">
        select * from smbms_provider where id=#{id}
    </select>




</mapper>